@font-face {
    font-family: Din Pro;
    src: url(typefaces/DINProBlack.otf);
}

@font-face {
    font-family: Boldine;
    src: url(typefaces/Boldine.ttf);
}

body {
    /* background-image: url(images/gameplayTemplate.PNG); */
    font-family: Din Pro;
    padding: 0;
    margin: 0;
    height: 1080px;
    width: 1920px;
    overflow-x: hidden;
    text-transform: uppercase;
}

#header, #header-swapped {
    position: absolute;
    top: 30px;
    height: 40px;
    width: 1920px;
}

.team-name {
    color: white;
    font-size: 25px;
}

.map-ticks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}

.map-tick {
    background-color: rgba(0,0,0,.25);
    height: 14px;
    width: 14px;
    transition: 1s all ease-in-out;
}

.map-tick:nth-child(n+2) {
	margin-left: 3px;
}

.team-logo{ 
    height: inherit;
    object-fit: contain;
}

.score-mode {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: white;
    height: inherit;
    width: 100px;
}

#left-banner-info, #left-banner-info-swapped {
    position: absolute;
    display: flex;
    left: 10px;
    top: 4px;
}

#left-team-banner, #left-team-banner-swapped {
    position: absolute;
    display: flex;
    background: rgba(0, 0, 0, 0);
    height: inherit;
    width: 400px;
    left: 40px;
    clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
}

#left-team-name, #left-team-name-swapped {
    margin-top: -1px;
    margin-right: 10px;
}

#left-team-logo, #left-team-logo-swapped {
    position: absolute;
    right: 25px;
}

#left-team-score-mode, #right-team-score-mode, #left-team-score-mode-swapped, #right-team-score-mode-swapped {
    display: flex;
    justify-content: space-evenly;
}

#left-team-score-mode, #left-team-score-mode-swapped {
    left: 760px;
    clip-path: polygon(14px 0, 100% 0, 100% 100%, 0% 100%);
}

#left-team-mode, #left-team-mode-swapped {
    margin-left: 10px;
}

#right-team-mode, #right-team-mode-swapped {
    margin-right: 10px;
}

#left-team-score, #right-team-score, #left-team-score-swapped, #right-team-score-swapped {
    font-size: 190%;
    margin-top: -3px;
}

#right-team-score-mode, #right-team-score-mode-swapped {
    right: 758px;
    clip-path: polygon(0 0, 86px 0, 100% 100%, 0% 100%);
}

#right-team-banner, #right-team-banner-swapped {
    position: absolute;
    display: flex;
    background: rgba(0, 0, 0, 0);
    height: inherit;
    width: 400px;
    right: 36px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 100%);
}

#right-banner-info, #right-banner-info-swapped {
    position: absolute;
    display: flex;
    right: 10px;
    top: 4px;
}

#right-team-name, #right-team-name-swapped {
    margin-top: -1px;
    margin-left: 10px;
}

#right-team-logo, #right-team-logo-swapped {
    position: absolute;
    left: 25px;
}

/* Bugs */
/* Left */

#left-bug {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 260px;
    top: 995px;
}

#event-name {
    font-family: Boldine;
    font-weight: lighter;
    color: rgba(95, 95, 95, 0.85);
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 0px #aaa;
    display: none;
}

#host-name {
    color: white;
    letter-spacing: 3px;
    font-size: 125%;
    margin-top: -30px;
    display: none;
}

/* Right */

#voicesOf {
    font-family: Boldine;
    font-weight: lighter;
    color: rgba(95, 95, 95, 0.85);
    font-size: 76px;
    letter-spacing: 5px;
    position: absolute;
    left: 1555px;
    top: 920px
}

#voicesOf {
	text-shadow: 2px 2px 0px #aaa;
}

#caster-names {
    position: absolute;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    left: 1697px;
    top: 1055px;
    color: white;
    letter-spacing: 1px;
    font-size: 175%;
    margin-top: -65px;
    display: flex;
    flex-direction: row;
}

/* HUD Overlay Start */

#hud-extra-header, #hud-extra-header-swapped {
    position: absolute;
    top: -180px;
    display: flex;
    flex-direction: row;
    transition: top 2s ease-in-out;
}

#left-team-extra, #right-team-extra, #left-team-extra-swapped, #right-team-extra-swapped {
    background-color: white;
    height: 150px;
    width: 565px;
}

.team-name-container-extra {
    width: 90%;
    height: 25%;
    text-align: center;
}

.team-name-extra {
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    margin: 0;
    text-align: center;
    transition: 1s all ease-in-out;
}

.color-information-extra {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#left-team-color-extra, #right-team-color-extra, #left-team-color-extra-swapped, #right-team-color-extra-swapped {
    height: 180px;
    width: 230px;
    background-color: red;
    transition: 1s all ease-in-out;
}

#left-team-color-extra, #left-team-color-extra-swapped {
    clip-path: polygon(100% 0, 100% 100%, 7% 100%, 0 83%, 0 0);
}

#right-team-color-extra, #right-team-color-extra-swapped {
    clip-path: polygon(100% 0, 100% 83%, 93% 100%, 0 100%, 0 0);
}

#left-team-mode-extra, #right-team-mode-extra, #left-team-mode-extra-swapped, #right-team-mode-extra-swapped {
    font-size: 50px;
    transition: 1s all ease-in-out;
}

#left-team-mode-extra, #left-team-mode-extra-swapped {
    position: absolute;
    left: 250px;
}

#right-team-mode-extra, #right-team-mode-extra-swapped {
    position: absolute;
    right: 250px;
}

#left-team-logo-extra, #left-team-logo-extra-swapped {
    position: absolute;
    top: 5px;
    left: 32px;
    height: 140px;
    width: 140px;
    transition: 1s all ease-in-out;
	object-fit: contain;
}

#right-team-logo-extra, #right-team-logo-extra-swapped {
    position: absolute;
    top: 5px;
    right: 32px;
    height: 140px;
    width: 140px;
    transition: 1s all ease-in-out;
	object-fit: contain;
}

#right-team-logo-extra img, #left-team-logo-extra img, #right-team-logo-extra-swapped img, #left-team-logo-extra-swapped img {
	object-fit: contain;
}

#middle-logo {
    background-color: #5a16b2;
    height: 180px;
    width: 130px;
    top: 0px;
    left: 895px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle-logo img {
    height: auto;
    width: 80%;
    filter: invert(1);
}

.map-ticks-extra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 150px;
}

.map-tick-extra {
    background-color: rgba(0,0,0,.25);
    height: 14px;
    width: 55px;
    transition: 1s all ease-in-out;
}

.map-tick-extra:nth-child(n+2) {
	margin-left: 10px;
}

#left-team-score-extra, #right-team-score-extra, #left-team-score-extra-swapped, #right-team-score-extra-swapped {
    background-color: white;
    top: 0px;
    height: 180px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#left-team-score-extra, #left-team-score-extra-swapped {
    left: 795px;
}

#right-team-score-extra, #right-team-score-extra-swapped {
    right: 795px;
}

/* MAPS */
#maps {
    z-index: 1;
    width: 1920px;
    height: 150px;
    position: absolute;
    display: flex;
    bottom: 0px;
    left: 0px;
    transition: bottom 2s ease-in-out;
}

#map-1, #map-2, #map-3, #map-4, #map-5 {
    background-image: url(maps/default.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    background-blend-mode: luminosity;
    background-color: initial;
    display: flex;
}

.map-container {
    display: flex;
    justify-content: center;
    transition: 1s all ease-in-out;
}

.map-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.map-information > p {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    transition: 1s all ease-in-out;
    text-shadow: 2px 2px 0px #aaa;
}